.carousel{
    background: url(../../images/Violet_top_left_wave.png) no-repeat bottom/contain;
    height: 650px;

    .container{
        max-width: 1260px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left h1{
            .title{
                display: block;
                @include styleText($fs-3, $fw-2, $color-main);
                margin: $mg-0 0;
            }
            .subtitle{
                @include styleText($fs-6 * 1.1, $fw-3, $color-dark-2);
            }
        }
        .right{
            img{
                min-width: 100%;
            }
        }
    }
}
//responsive
@include responsive('large'){
    .carousel{
        .container{
            flex-direction: column;
            padding: $pd-3;

            .right{
                margin: $mg-2 0;
            }
        }
    }
}