.courses{

    .overlay{
        position: relative;

        .image{
            position: absolute;
            bottom: 0;
            width: 100%;
            overflow: hidden;
            z-index: -1;
        }
    }
}