.teacher{
    background: url(../../images/Wave_White_bottom_right_shape_01.png) no-repeat center/cover $color-img;

        .container{
            max-width: 1260px;

            .card{
                border-radius: 10px;
                overflow: hidden;
                margin-top: $mg-2;
                text-align: center;
                height: 360px;
                width: 100%;
                border: none;
                transition: all 0.2s ease-in-out;
                transition-delay: 200ms;

                .card-img-wrap{
                    overflow: hidden;

                    img{
                        width: 100%;
                        transform: scale3d(1,1,1);
                        transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
                    }

                    &:hover{
                        img{
                            transform: scale3d(1.1,1.1,1.1);
                        }
                    }
                }
               
                .card-country{
                    @include styleText($fs-2, $fw-2, $color-main);
                }

                .card-name {
                    @include styleText($fs-4, $fw-3, $color-dark-2);
                }

                .card-text{
                    font-family: "Roboto",Arial,Helvetica,sans-serif;
                    margin-top: $mg-1;
                }

                &:hover{
                    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
                }
            }
        }       
}

